@import url('https://fonts.googleapis.com/css2?family=Acme&family=Shadows+Into+Light&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#section-1,
#section-2,
#section-3 {
    padding: 24px;
    min-height: 100vh;
}

#section-1 {
    background: url("../images/treasure-map.webp");
    background-size: cover;
    background-position: center center;
}

#section-2 {
    background: url("../images/paw-prints.jpg");
    background-size: cover;
    background-position: center center;
}

#section-3 {
    background: url("../images/sinnoh-plain.jpg");
    background-size: cover;
    background-position: center center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#section-3 .card-container {
    align-items: stretch;
}

#section-1 .example-card {
    max-width: 350px;
    margin: 16px;
    box-shadow: 4px 4px 8px #00000088;
}

#section-2 .example-card,
#section-3 .example-card {
    max-width: 358px;
    margin: 16px;
}

.card-style-2 .animagram-header .logo {
    font-size: 36px;
    font-family: 'Shadows Into Light';
    font-weight: bold;
    display: inline-block;
    border: 3px solid black;
    border-radius: 50%;
    width: 66px;
    text-align: center;
}

.card-style-2 .animagram-header .brand-name {
    font-family: 'Acme';
    font-weight: bold;
}

.card-style-3 .attack .energy {
    min-width: 50px;
    text-align: center;
}

.card-style-3 .power {
    min-width: 50px;
    text-align: center;
}

.card-style-3 i {
    background: radial-gradient(white 40%, #333333);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 3px;
    font-size: 14px;
}