* {
    box-sizing: border-box;
}

body {
    margin: 0px;

    font-family: sans-serif; 
}

#two-columns-basic {
    display: flex;
}

#two-columns {
    display: flex;
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    margin: 48px auto;
}

#sidebar-content {
    width: 250px;
    margin-top: 24px;
    margin-right: 36px;
    padding: 0px 12px;
}

#sidebar-content h2 {
    background-color: #33a6cf;
    color: white;
    padding: 8px 16px;
    margin: 0px;
}

#sidebar-content ul {
    border: 1px solid #DDDDDD;
    margin: 0px;
    padding: 16px;
    list-style-type: none;
}

#sidebar-content ul li {
    padding: 8px 0px;
}

li.indent {
    margin-left: 24px;
}

#sidebar-content ul a {
    color: #145ca9;
    text-decoration: none;
}

#sidebar-content ul a:hover {
    text-decoration: underline;
}

#main-content {
    flex: 1;
    margin-right: 16px;
}

#main-content-basic {
    width: 650px;
    margin-right: 16px;
}

#sticky-sidebar {
    position: sticky;
    top: 24px;
}

.note {
    margin-left: 36px;
    font-style: italic;
}

.bold {
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 0px;
}

p {
    margin-top: 8px;
}

.inner-two-column {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
}

.inner-two-column .image-column {
    flex: 1;
    border: 1px solid #BBBBBB;
    padding: 6px;
    font-size: 14px;
    min-width: 150px;
}

.inner-two-column .image-column img {
    width: 100%;
}

.inner-two-column .image-column h4 {
    margin: 4px 0px;
}

.inner-two-column .text-column {
    flex: 2;
}

.image-column + .text-column,
.text-column + .image-column {
    margin-left: 12px;
}

.center {
    text-align: center;
}