.normal-container {
    background-color: #EFEFEF;
    border-radius: 4px;
    padding: 8px;
}

.flex-container {
    display: flex;
    background-color: darksalmon;
    border-radius: 4px;
    padding: 8px;
}

.box.tall {
    height: 100px;
}

.box.wide {
    width: 100px;
}

.box {
    background-color: lavender;
    border: 2px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    margin: 8px;
    padding: 8px 14px;
}