.sixty-pixels {
    font-size: 60px;
}

.ten-pixels {
    font-size: 10px;
}

.thirty-three-percent {
    font-size: 33%;
}

.two-m {
    font-size: 2em;
}

.four-point-five-m {
    font-size: 4.5em;
}