/*
    This is a demo focusing on Media Queries.

    By this point, you should have gone over the
    PowerPoint on this topic, but this will most
    likely be the first practical application
    of those concepts.
*/

/* 
    We'll start off with our usual page layout setup,
    and we'll also add a default background color
    to our body element.
*/
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: teal;
}
