/* Drill 6 - Write your code solution below */

/*
    Most of the set up is done for them here,
    so they're really just doing the same
    thing as in the previous drill.

    But this time, they're doing it twice,
    and they also need to show they know
    how to apply different corner radii.

    Again, not too complex, but with just
    a few lines of CSS, we can transform
    some rather boring looking text into
    something that resembles a chat GUI.
*/

#d6-div-1 {
    background-color: lightcoral;
    border-radius: 24px 24px 0px 24px;
}

#d6-div-2 {
    background-color: lightblue;
    border-radius: 24px 24px 24px 0px;
}