* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas: "content sidebar";
    /* change this last in the demo */
    margin: 36px 0px; /* new */
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: darkslategray;
    margin: 0px;
    padding: 12px;
    color: white;
    font-size: 18px;
}

#sidebar-content ul {
    background-color: #EFEFEF;
    border: 1px solid darkslategray;
    margin: 0px 0px 36px; 
    list-style-type: none;
    padding: 0px 12px;
}

#sidebar-content a {
    color: darkslategray;
    text-decoration: none;
}

#sidebar-content li {
    border-bottom: 1px solid darkslategrey;
    padding: 8px 0px;
}

#sidebar-content li:last-child {
    border-bottom: 0px;
}

/*
    Let's remove that background color from the
    main content section.

    It's also flush against the right edge of 
    the page, and still a bit close to the
    sidebar.

    Let's add some margin to the left/right
    sides to give it some breathing room.

    And finally, let's go back up to the
    #grid-layout itself, and give it some
    top/bottom margin, so that the layout
    itself isn't too close to the top of
    the page (or navbar if we choose to
    add one in the future).
*/
#main-content {
    /* remove background color */
    grid-area: content;
    margin: 0px 36px; /* new */
}

/*
    That's it! Not a bad sidebar that we 
    created, nor a bad layout, either!

    ...or is it?
*/

