/*
    We'll start off with our common page layout setup
    properties, which we'll do for almost all layouts
    going forward.
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
}

/*
    Next, we're going to activate the CSS Grid
    functionality on our #grid-layout container.

    You should have gone through the CSS Grid 
    powerpoint by now, but once again, note the 
    important differences between Grid Container 
    and Grid Item properties; the differences are
    just as important here as they are for Flexbox.

    Activating a CSS Grid with display is 
    something that should only go on the Grid
    Container, not on any Grid Items inside the
    container (unless we have any grids inside of 
    grids going on).
*/
#grid-layout {
    display: grid;
}

/*
    After activating CSS Grid, we should see...
    no differences.

    That's because a grid has one column by
    default, and puts its Items into rows inside
    of that container...which looks awfully 
    similar to a normal HTML page.
*/