* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.spacer {
    height: 100vh;
}

#hero-4 {
    background-image: url("../images/stars-on-velvet.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-4 .hero-content {
    text-align: center;
    color: white;
    padding-top: 20vh;
}

#hero-4 h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
}

#hero-4 h4 {
    font-size: 3vw;
    margin: 0px;
}

#hero-4 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: white;
    color: #333333;
    text-decoration: none;
    padding: 24px;
    margin: 5vh 2vw 10vh;
}