* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#main {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
    margin: 24px 0;
}

/*
    First, we need to go into our HTML and add some
    code to create a card layout, and add an image
    inside for our first piece of content.

    Do that now, then come back here.

    Now let's start building our cards. First, let's 
    target our card class and give it a width of 50%. 
    We won't see much of a change because the only 
    content we have is overflowing. Let's fix that.
*/
.card {
    width: 350px;
}

/*
    To fix the issue with the giant image, let's 
    target the img element inside of our cards. 
    If we give the image a width of 100%, the image
    will stretch itself to fill its container (the card).

    Now that our image is appropriately sized and 
    no longer overflowing out of it's container, let's
    apply a height to it. Applying this height will 
    help us keep our different images consistently
    sized as we add more cards and images.

    However, since we set both a height and a width,
    it's likely that our image is going to be stretched
    or squished, since we broke its aspect ratio.

    To fix this, we'll add a object-fit property with 
    a value of cover that will crop our image without
    distorting it.
*/
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}