* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid black;
    padding: 12px;
    margin-top: 36px;
}

#card1:hover {
    background-color: lightcyan;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card1 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card2 a {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card2:hover a {
    background-color: aquamarine;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#card3 .card-content {
    transition:
        opacity 0.5s,
        visibility 0.5s;
}

#card3:hover .card-content {
    opacity: 0;
    visibility: hidden;
}

#card4 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px); 
    transition:
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s; 
}

#card4:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px); 
}

#card5 {
    position: relative;
}

/*
    First off, we really need a way to distinguish
    the .card-content from the card itself.

    A border and background will help a lot with 
    that, along with a few other tweaks.
*/
#card5 .card-content {
    position: absolute;
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000033;

    /*
        We also need to adjust the positioning a bit,
        which is expected when working with absolute
        positioning.

        We can take advantage of the side properties
        again to adjust it, along with tweaking the
        margin and padding properties.
    */
    left: 0px;
    margin: 0px 24px;
    padding: 24px;
}

/*
    It's not exactly the prettiest design, but
    what we're creating here is almost more of
    a pop-up, for extra information that is more
    optional rather than essential.

    And considering it's only going to be visible
    when we hover over the card, it's passable.

    But now that we've got it positioned the way 
    we want, next we need to hide it, and add in
    the selectors to reveal it when we hover over
    the card.
*/