/* Drill 2 - Write your code solution below */

/*
    Similar challenge as the first drill, just
    now there's more options to choose from.
    You could write two separate CSS rules,
    and that would be fine, but this is a 
    good chance to learn how you can
    combine selectors to "share" a CSS rule
    across multiple elements.
*/

#d2-s1,
#d2-s3 {
    color: #F711F7;
}

/* 
    The above code has exactly the same effect 
    as the code below; it's just more compact 
    and less repetitious (which is something to 
    avoid whevever possible in coding)
*/

#d2-s1 {
    color: #F711F7;
}

#d2-s3 {
    color: #F711F7;
}

