/* Drill 7 - Write your code solution below */

/*
    Similar to the previous one, but using
    font-weight instead.
*/

#d7-s2,
#d7-s3 {
    font-weight: bold;
}

/*
    The below code is also acceptable, just
    not as condensed and more repetitive than
    the code above.

    Try to consolidate your CSS rules like we
    did above whenever you have duplicated CSS 
    properties like below.
*/

#d7-s2 {
    font-weight: bold;
}

#d7-s3 {
    font-weight: bold;
}

