/*
    Here's another drill set, this time focusing
    on the margin property of the Box Model.

    In general, since students often struggle
    with understanding containers in HTML/CSS, 
    this drill set focuses on starting with
    boxes (which are more easily identifiable 
    with containers), before moving on to text,
    hopefully linking the two together in 
    students' minds.
*/

/* Drill 1 - Write your code solution below */


/* Drill 2 - Write your code solution below */


/* Drill 3 - Write your code solution below */


/* Drill 4 - Write your code solution below */


/* Drill 5 - Write your code solution below */


/* Drill 6 - Write your code solution below */


/* Drill 7 - Write your code solution below */
