/* COMMON PAGE LAYOUT SETUP CSS - START *****************/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    /* preferred copy font goes here */
    font-family: sans-serif; 
}
/* COMMON PAGE LAYOUT SETUP CSS - END ********************/

/*
    To create a single column layout
    with a left-aligned column:
    
    Step 1 
        Start by setting an explicit width.
        Either absolute or relative units are fine
        (although you'll probably also want to set
        a min-width if using relative units,
        as we do below).

    ...and that's it! You don't need to worry about
    setting the alignment or positioning, because 
    content is left-aligned by default.
    
    We also added a background color below so you 
    can see the boundaries of the column.
*/

.center-column {
    background-color: lightblue;

    /* Step 1 */
    width: 50%; 
    min-width: 500px;
}