/*
    Now we'll add the CSS to transform our
    mess of images into an orderly grid gallery.

    We'll start off with our usual page layout setup:
*/

* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
}

/*
    Then we'll set up Centered Single Column Page Layout,
    and also center the inline content inside via text-align
*/
#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

/*
    Now we'll set up the gallery itself.  Basically, all
    we're doing is setting up a 3-column grid with a
    border (optional, of course), as well as fitting 
    the images to the width of the grid columns.
*/

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    /*
        optional extra properties,
        customize as necessary
    */
    padding: 24px;
    border: 10px solid #333333;
}

.basic-grid-gallery img {
    width: 100%;
}

/*
    Much nicer, right?
*/