/*
    This is another relatively simple design,
    using the "Two Columns - Sidebar (grid)"
    final example as a starting point.

    Aside from the new .container class, which
    is used to wrap the content in the orange
    border with the dark grey background, the
    most significant changes took place in the 
    sidebar, particularly with the list items
    and anchors.
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif; 
    background: 
        radial-gradient(
            circle at bottom right, 
            #1a0101 2%, 
            #111111, 
            #81460e
        );
}

#two-columns {
    margin: 48px 0px;
    display: grid;
    grid-template-columns: 1fr 550px 280px 1fr;
    grid-template-areas: 
        ". main-area sidebar-area .";
}

#sidebar-content {
    grid-area: sidebar-area;
    margin-left: 12px;
}

#sidebar-content h2 {
    border-bottom: 3px solid #e1661a;
    background-color: #e1661a;
    color: #383330;
    padding: 8px 16px;
    margin: 0px;
}

#sidebar-content ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

#sidebar-content ul li {
    border-top: 3px solid #282422;
    font-size: 13px;
}

#sidebar-content ul a {
    display: block;
    color: #fcca95;
    text-decoration: none;
    padding: 10px 16px;
    font-weight: bold;
}

#sidebar-content ul a:hover {
    background-color: #e1661a;
    color: #383330;
}

#main-content {
    margin-right: 16px;
    grid-area: main-area;
}

#sticky-sidebar {
    position: sticky;
    top: 24px;
}

.container {
    border: 3px solid #e1661a;
    background-color: #383330;
    color: #fcca95;
    padding: 24px;
    margin-bottom: 24px;
}

#sticky-sidebar .container {
    padding: 0px;
} 

#sticky-sidebar h2 {
    font-size: 18px;
}

.container img {
    width: 100%;
}

h1 {
    margin: 0px;
}

h5 {
    margin: 8px 0px;
}

.author-publish {
    font-size: 14px;
    margin-top: 8px;
}